{% load static %}
<section class="font-title mt-20 px-4  md:px-4 2xl:px-0" >
    <div class="max-w-screen-xl  mx-auto flex flex-col gap-6 md:flex-row">
        <div class="w-full md:w-1/2">
            <h4 class="text-xl text-secondary font-semibold">About Us</h4>
            <h2 class="text-5xl mt-5 text-primary font-semibold">Welcome To Our Website!</h2>
            <p class="text-body font-medium text-base mt-4 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
            <a href="#"><button class="bg-primary px-10 py-4 text-white font-semibold rounded-md mt-6">Read More</button></a>
        </div>
        <div class="w-full relative flex justify-end md:w-1/2">
            <div class="w-10/12 rounded-lg bg-secondary h-96 bg-no-repeat bg-cover bg-center" style="background-image: url('{% static 'images/about.png' %}')"></div>
            <div class="absolute border border-white p-6 flex flex-col justify-center items-center shadow-md top-60 left-8 rounded-lg w-1/2 h-48 bg-primary">
                <img class="w-14 mb-3" src="{% static 'images/about-icon.png' %}" alt="award">
                <h4 class="text-3xl text-center text-white font-semibold">30+ Years of Experience</h4>
            </div>
        </div>
    </div>
</section>