{% extends 'base.html' %}
{% load static %}
{% block title %}Blogpage{% endblock %}

{% block content %}

<section class="font-title px-4 md:px-4 2xl:px-0 bg-cover bg-no-repeat w-full h-80 " style = "background-image: url({% static 'images/category-hero.jpg' %});">
    <div class="max-w-screen-xl mx-auto h-full flex flex-col justify-center gap-3">
       <h3 class=" text-white font-medium text-sm md:text-base text-case">Home / <span class="text-secondary">Blog</span></h3>
       <h1 class=" text-white text-2xl font-bold md:text-4xl ">Our Blogs</h1>
    </div>
</section>

<section class="font-title mt-20 px-4 md:px-4 2xl:px-0">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="text-3xl mt-3 text-primary font-semibold md:text-3xl lg:text-4xl xl:text-5xl">Our Latest Blogs and Articles</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 mt-6">
         {% for post in posts %}
                <div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-full">
                    <div class="relative h-56 m-2.5 overflow-hidden text-white rounded-md">
                      <img src="{{post.image.url}}" alt="{{post.name}}" />
                    </div>
                    <div class="p-4">
                        <a href="{% url 'blog:blog_details' post.slug %}"><h6 class="mb-2 text-slate-800 hover:text-secondary text-xl font-semibold">
                        {{post.title}}
                      </h6>
                    </a>
                      <p class="text-slate-600 leading-normal font-light">
                        {{ post.short_desc | truncatewords:20 }}
                      </p>
                    </div>
                    <div class="px-4 pb-4 pt-0 mt-2">
                      <a href="{% url 'blog:blog_details' post.slug %}" class="rounded-md bg-primary py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:bg-secondary" type="button">
                        Read more
                      </a>
                    </div>
                  </div>  
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}