{% load static %}

<section class="font-title mt-20 px-4 md:px-4 2xl:px-0 overflow-hidden">
    <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row gap-6">
        <!-- Left Column (Image) -->
        <div class="w-full h-96 relative md:w-1/2 zoom-in">
            <div class=" w-full h-full top-0 right-0 bg-cover rounded-lg bg-gray-200 border border-gray-300"></div>
            <div class="absolute w-full h-full top-0 md:top-6 right:0 md:right-6 bg-cover rounded-lg bg-center bg-no-repeat" style="background-image: url('{% static 'images/absout-content.jpg' %}')"></div>
        </div>

        <!-- Right Column (Vision Cards) -->
        <div class="w-full md:w-1/2 mt-6 md:mt-0 flex flex-col gap-6">
            <!-- Title Section -->
            <div>
                <h4 class="text-xl text-secondary font-semibold slide-left">Research & Developments</h4>
                <h2 class="text-3xl mt-3 text-primary font-semibold md:text-3xl lg:text-4xl xl:text-5xl slide-left">Explore our Research and Developments</h2>
            </div>

            <p class="text-body font-medium text-base leading-loose">
            R&D has been done SINCE 1999. Initially, the 4M Concept was followed (Man, Machine, Material & Method) and has been implemented in Energy Conservation activities in industries. Through this approach,
            we have successfully saved more energy and money compared to other industrial methodologies.
            Since 2004, we have been actively engaged in the Energy Conservation business, working in full swing to optimize energy usage and maximize efficiency in industrial operations.
           </p>
        </p>
    </div>
</section>
